<!--The content below is only a placeholder and can be replaced.-->
<div style="font-size: 24px;
background:  #2076d8 ;
color: white;
font-family: cursive;">

    <div>
      <div class="row">
            <div class="col-sm-3">
                <img src="assets\vinayagaLogo.png" style="height:135px">
            </div>
            <div class="col-sm-6">
                <div>SRI VINAYAKA INDUSTRIES</div>
                <span><h5>We Undertake All type of Engineering Works</h5></span>
                <span><h5>No.9/1,Balaji Garden GiriNagar,P&T Colony Road,Coimbatore- 641030.Mobile No:94436 83219</h5></span>
                <span><h5>GSTIN: 33AOCPK6138F1Z8</h5></span>
            </div>
            <div class="col-sm-3">
                <h4><span>Date&nbsp;:</span><span>{{date}}</span></h4>
                <h4> <span>Day&nbsp;&nbsp;:</span><span> {{day}}</span></h4>
                <h4><span>Time&nbsp;:</span><span> {{time}}</span></h4>
            </div>
        </div>

    </div>
</div>

<router-outlet></router-outlet>
<!-- 
<div style="background: #242222;
text-align: right;
position: fixed;
bottom: 0;
width: 100%;
color: #dbd8d8;
padding: 3px;
padding-right: 20px;">
    <div class="row">
        <div >How it works</div>
    </div>
   </div> -->

