.input_date{
    width: 100%;
    border: 1px solid grey;
    border-radius: 3px;
}

.nowrap{
    white-space: nowrap;
}

.highlight{
    font-size: 16px;
    font-weight: bold;
}

.custom_table_design{
    width:95%;
    margin:0 auto;
    height: 500px;
    border: 1px solid grey;
}

.detailTable td{
    padding: 3px;
}

.key{
    color: black;
    font-weight: bold;
}

.duplicate{
    color: red;
}