
.card-outer-border{
  border:2px solid #60DFE8;
  /* border: 2px solid #FFDE89; */
  border-radius: 5px;
  margin: 15px;
  box-shadow: 0 3px 6px rgba(8, 169, 243, 0.16), 0 3px 6px rgba(7, 218, 255, 0.23);
}
.card-outer-border :hover{
  color: black
}
.card-inner-design{
  background: #DAF7FA;
  /* background: #FFF7E2; */
  height: 75px;
  display: table;
  width:100%;
  padding: 0px 10px;
  cursor: pointer;
  /* text-align: center; */
}
.card-data{
  /* color:#0097A4; */
  color: #4a5152;
  vertical-align: middle;
  display: table-cell;
}
.card-data span{
  font-size: 14px;
  font-weight: bold;
}